 /*общие стили*/
:root {
  --basic-text-color: #757575;
  --h3-text-color: #212121;
  --logo-text-color: #2196f3;
  --filter-link-color: #fff;
  --footer-bkg-color: #2f303a;
  --black-text-color: #000000;
  --transparent-menu-text: rgba(255, 255, 255, 0.6);
  --team-bkg: #f5f4fa;
  --filter-border-color: #eeeeee;
  --button-transparent: rgba(0, 0, 0, 0.15);
  --buttonactive: #188ce8;
  --header-bottom-border: #ececec;
  --social-network-basic-link: #afb1b8;
  --fotter-social-network-basic-link: rgba(255, 255, 255, 0.1);
  --clients-bkg: #f5f5f5;
  --feature-text-color: #fff;
  --feature-bkg-color: rgba(33, 150, 243, 0.9);
  --modal-backdrop-bkg: rgba(0, 0, 0, 0.2);
  --modal-button-closed: rgba(0, 0, 0, 0.1);
  --we-do-title-bkg: rgba(47, 48, 58, 0.8);;
}
body {
  background-color: #fff;
  color: var(--basic-text-color);
  font-family: Roboto, sans-serif;
}
img {
  display: block;
}



p,
h1,
h2,
h3,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  border: none;
}

.ul-nolist {
	list-style-type: none;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
 }


/* MODAL WINDOW  */

/* header */
 .header {
	border-bottom: solid 1px;
	border-color: var(--header-bottom-border);
 }

.header__container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 15px;
}

.nav {
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
	align-items: center;
 }

.logo {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--logo-text-color);
	text-decoration: none;
 }

 .logo-black {
	color: var(--black-text-color);
 }

 .nav__menu {
	display: flex;
	justify-content: flex-start;
	margin-left: 93px;
	padding-left: 0;
	padding-right: 0;
	font-weight: 500;
	line-height: 1.2;
	color: var(--h3-text-color);
	list-style-type: none;
	text-decoration: none;
 }
 
 .nav__item: {
	margin-left: 50px;
	margin-bottom: 0;

	@include tablet {
		display: flex;
		margin-top: 0px;
		position: relative;
	 }
  
	 @include pc {
	 }
 }
 

 .nav__item + .nav__item {
	margin-left: 50px;
 }

 .nav__link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--h3-text-color);
	list-style-type: none;
	text-decoration: none;
 
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .nav__link_current::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--buttonactive);
	margin-bottom: 0;
	padding-bottom: 0;
 }
 
 .nav__link.current {
	color: var(--logo-text-color);
 }
 
 .nav__link:hover,
 .nav__link:focus {
	color: var(--logo-text-color);
	cursor: pointer;
 }

 .contacts {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0px;
	padding-left: 0px;
	align-items: baseline;
	font-weight: 500;
	line-height: 1.2;
	font-size: 14px;
	list-style-type: none;
	color: var(--basic-text-color);
 }
 
 .contacts__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--basic-text-color);
	text-decoration: none;
	font-weight: 500;
	line-height: 1.2;
	font-size: 14px;
 
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .contacts__link:hover,
 .__link:focus {
	color: var(--logo-text-color);
	fill: var(--logo-text-color);
 }
 
 .contacts__icon {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	fill: currentColor;
	top: 0.1em;
 }
 
 .contacts__item + .contacts__item {
	margin-left: 50px;
 }
/* HEADER */


/* MODAL WINDOW */
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
 }
 
 .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--modal-backdrop-bkg);
 }
 
 .modal__title {
	display: inline-block;
 
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--h3-text-color);
 }
 
 .modal {
	position: absolute;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 
	padding: 40px;
 
	background-color: #fff;
 
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .modal__form {
	display: block;
	width: 440px;
	margin-top: 12px;
	margin-bottom: 50px;
 }

 .button-closed {
	display: flex;
	justify-content: center;
	align-items: center;
 
	position: absolute;
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;
	outline: solid 1px var(--modal-button-closed);
	border-radius: 15px;
	fill: var(--black-text-color);
	cursor: pointer;
	background-color: inherit;
 
	transition-property: all;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .button-closed:hover,
 .button-closed:focus {
	fill: var(--buttonactive);
 }
 
 .modal__form-field {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
 
	font-size: 12px;
	color: #757575;
	line-height: 1.167;
	text-align: left;
	margin-bottom: 10px;
 }
 
 .modal__form-field:nth-child(4n) {
	margin-bottom: 20px;
 }
 
 .modal__form-field:last-child {
	margin-bottom: 20px;
 }
 
 
 .modal__form-label {
	margin-bottom: 4px;
 }
 
 .modal__form-textarea {
	width: 100%;
	height: 120px;
	resize: none;
 
	padding: 12px 16px;
	color: rgba(174, 28, 28, 0.6);
 
	background-color: inherit;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
 
	transition-property: all;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .modal__form-textarea:hover,
 .modal__form-textarea:focus {
	border: 1px solid #2196f3;
	cursor: pointer;
	outline: none;
 }
 
 .modal__form-textarea::placeholder {
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
	resize: none;
 }
 
 .modal__form-input {
	display: block;
 
	width: 100%;
	height: 40px;
 
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 40px;
	color: var(--black-text-color);
	background-color: inherit;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
 
	transition-property: all;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .modal__form-input:focus,
 .modal__form-input:hover {
	border: 1px solid #2196f3;
	cursor: pointer;
	outline: none;
 }
 
 .modal__form-input:focus + svg,
 .modal__form-input:hover + svg {
	fill: #2196f3;
	cursor: pointer;
 }
 
 .checkbox {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	gap: 7px;
 
	padding-left: 11px;
	/* 	border: solid 1px black; */
 }
 
 .modal__checkbox {
	margin-bottom: 30px;
 }
 
 .browser-checkbox {
	appearance: none;
 }
 
 .modal__checkbox-frame {
	display: block;
	width: 16px;
	height: 15px;
 
	margin-top: 4px;
 
	border-radius: 2px;
	border: solid 2px #212121;
 }
 .browser-checkbox:checked + .modal__checkbox-frame {
	background-color: #2196f3;
	border: solid 2px var(--logo-text-color);
	background-image: url("data:image/svg+xml,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='34' height='32' viewBox='0 0 34 32'%3E%3Ctitle%3Eicon-check%3C/title%3E%3Cpath fill='%232196f3' d='M4.267 0h25.6c2.356 0 4.267 1.91 4.267 4.267v23.467c0 2.356-1.91 4.267-4.267 4.267h-25.6c-2.356 0-4.267-1.91-4.267-4.267v-23.467c0-2.356 1.91-4.267 4.267-4.267z'%3E%3C/path%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.4267' d='M8.442 16.537l-0.147-0.14-2.205 2.088 7.767 7.41 16.318-15.567-2.19-2.089-14.128 13.465-5.416-5.167z'%3E%3C/path%3E%3C/svg%3E");
	background-size: contain;
 }
 
 .modal__form-icon {
	position: absolute;
	top: 31px;
	left: 15px;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .modal__checkbox-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--basic-text-color);
 }
 
 .modal__checkbox-link,
 .modal__checkbox-link:hover,
 .modal__checkbox-link:focus {
	color: var(--logo-text-color);
 }

 .button-send {
	margin-top: 0;
	width: 200px;
 }

 
/* MODAL END */

/*  MAIN */

.hero {
	max-width: 1600px;
	background-color: var(--footer-bkg-color);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
 
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	  url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
 }

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 15px;
}

.button-blue {
	padding: 10px 32px 10px 32px;
 
	background-color: var(--logo-text-color);
	cursor: pointer;
	color: var(--filter-link-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	border-style: hidden;
	border-radius: 4px;
 
	box-shadow: 0px 4px 4px var(--button-transparent);
 
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .button-blue:hover,
 .button-blue:focus {
	background-color: var(--buttonactive);
	cursor: pointer;
 }

 .button-margin{
	margin-top: 30px;

 }


.section {
  padding-top: 94px;
  padding-bottom: 94px; /* 
	border: solid 1px black; 
	background-color: burlywood; */
}

. .main-nav {
  display: flex;
}




/* INDEX STYLES стили Индекса*/
.hero__text-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.65;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--filter-link-color);
  /* 	text-align: center; */
}

.rules {
	padding-top: 94px;
	padding-bottom: 94px;
 }

.rules__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  /*   align-items: center; */
}


.rules__item {
	width: 270px;
	text-align: left;
	/* text-transform: uppercase; */
 }

 
.rules__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-bkg);
  border-radius: 4px;
  margin-bottom: 30px;
}


.rules__item-box-title {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--h3-text-color);
 }


.rules__item-box-text {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
/* OUR RULES END */

/* what we do container */
.we-do {
	padding-top: 0;
 }

.we-do__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0 0 0;
  /*   align-items: center; */
}

.we-do__item {
  position: relative;
  width: 100%;
}

.we-do__products {
  position: absolute;
  display: block;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  padding-top: 27px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--feature-text-color);
  background-color: var(--we-do-title-bkg);
}

.we-do__title {
	color: var(--h3-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.67;
	letter-spacing: 0.03em;
	padding: 0;
 }



/* our comand container */


.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0 0 0;
  /*   align-items: center; */
}


.team__item {
	width: 270px;
	background-color: var(--filter-link-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
	  0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
 }

.team__info {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: var(--team-bkg);
  color: var(--h3-text-color);
}

.team__title {
	color: var(--h3-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.67;
	letter-spacing: 0.03em;
	padding: 0;
 }


.team__people-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__employee {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}


.team__social-links {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  gap: 10px;
  padding-left: 0;
  margin-top: 20px;
}

/* Social network button and icons */

.team__social-button {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: var(--filter-link-color);
  fill: var(--social-network-basic-link);

  transition-property: color backround-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-button:hover,
.team__social-button:focus {
  background-color: var(--logo-text-color);
  fill: var(--filter-link-color);
}

/* PORTFOLIO STYLES стили Портфолио*/
/*Стили main*/
.rules__item-box__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h3-text-color);
}

.portfolio {
  display: flex;
  justify-content: center;
  gap: 8px; /* 
  padding-top: 94px; */
}

.portfolio__button {
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.63;
	color: var(--h3-text-color);
	list-style-type: none;
	border-style: hidden;
	border-radius: 4px;
	margin: 2px;
	background-color: var(--team-bkg);
	padding: 6px 22px 6px 22px;
	transition-property: background-color box-shadow color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

.portfolio__button:hover,
.portfolio__button:focus {
  margin: 2px;
  padding: 6px 22px 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  background-color: var(--logo-text-color);
  color: var(--filter-link-color);
  cursor: pointer;
  border-style: hidden;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}





.card__feature {
  position: absolute;
  background-color: var(--feature-bkg-color);
  width: 100%;
  height: 294px;
  left: 0;
  top: 0;
  transform: translateY(294px);
  padding: 63px 24px;
}


/* .feature-card:hover{
	
} */



.card {
  display: flex;
  flex-basis: 1200px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  padding-left: 0;
  list-style-type: none;
}

.card__item {
	width: 370px;
 }

 .card__link {
	display: block;
	color: var(--h3-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	text-decoration: none;
 
	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .card__link .card__feature {
	transform: translateY(295px);
	transition-property: transform;
	transition-duration: 250ms;
 }
 
 .card__link:hover .card__feature {
	/*   display: block;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
	  1px 4px 6px rgba(0, 0, 0, 0.16); */
	transform: translateY(0px);
	transition-property: transform;
	transition-duration: 250ms;
 }

 .card__feature-text {
	display: block;
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	text-align: left;
	letter-spacing: 0.03em;
	color: var(--feature-text-color);
 }

.card__block {
  position: relative;
  padding: 20px 24px;

  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--filter-border-color);
  text-align: left;
  overflow: hidden;
}

.card__name {
	font-size: 18px;
	color: var(--black-text-color);
 }

.card__text {
  margin-top: 4px;
  color: var(--basic-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card__image {
	position: relative;
	width: 100%;
	height: 294px;
	overflow: hidden;
 }

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}



/* OUR CLIENTS */

.clients {
  background-color: var(--filter-link-color);
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--social-network-basic-link);
  border-radius: 4px;
  fill: var(--social-network-basic-link);

  transition-property: background-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover,
.clients__item:focus {
  fill: var(--logo-text-color);
  border: 1px solid var(--logo-text-color);
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.clients__title {
	color: var(--h3-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.67;
	letter-spacing: 0.03em;
	padding: 0;
 }

/* OUR CLIENTS END*/

/*стили футера*/
.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 60px 0;
	background-color: var(--footer-bkg-color);
 }
 
 .footer__contacts-box {
	display: flex;
	align-items: baseline;
	text-align: left;
	padding-left: 15px;
 }

.footer__address-box {
  width: 210px;
}

.footer__logo-box {
	display: block;
	width: 250px;
	font-style: normal;
	/* 	outline: solid 1px red; */
 }

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

 .logo-white {
	font-style: normal;
	color: var(--filter-link-color);
 }

 .footer__contacts-list {
	padding: 0 0;
	margin-top: 9px;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.2;
	font-style: normal;
	color: rgba(255, 255, 255, 0.6);
	list-style-type: none;
 }

.footer__address-link,
.footer__address-link:hover,
.footer__address-link:focus {
  font-size: 14px;
  display: inline-block;
  color: var(--filter-link-color);
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}

.footer__contacts-items {
	margin-top: 9px;
 }
 
 .footer__contacts-items:first-child {
	margin-top: 0px;
 }
 
.footer__contacts-link {
  display: inline-block;
  /* padding-top: 20px;
	 padding-bottom: 20px; */
  color: var(--basic-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-link:hover,
.footer__contacts-link:focus {
  display: inline-block;
  color: var(--logo-text-color);
}

.footer__social-list {
	margin-left: 93px;
 }

 .footer__social-link {
	display: flex;
	justify-content: center;
	align-content: center;
	list-style: none;
	gap: 10px;
	padding-left: 0;
	margin-top: 20px;
 }

.footer__form-title {
  color: var(--filter-link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-button {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: var(--fotter-social-network-basic-link);
  fill: var(--filter-link-color);
  transition-property: color background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-button:hover,
.footer__social-button:focus {
  background-color: var(--logo-text-color);
  fill: var(--filter-link-color);
}

.footer__form {
/*   display: flex;
  justify-content: flex-start;
  gap: 12px; */
  margin-left: 93px;
}
.footer__email {
  display: flex;
  align-items:flex-start;
  gap: 12px;

  margin-top: 20px;
}

.footer__form-input {
  display: inline-block;

  padding: 12px 0px 15px 16px;

  width: 358px;
  height: 50px;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-button {
  position: relative;
  width: 200px;
  height: 50px;

  background-color: var(--logo-text-color);
  cursor: pointer;
  color: var(--filter-link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-style: hidden;
  border-radius: 4px;
  margin-top: 0px;
  padding: 10px 62px 10px 28px;
  box-shadow: 0px 4px 4px var(--button-transparent);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-button:hover,
.footer__form-button:focus {
  background-color: var(--buttonactive);
  cursor: pointer;
}
.footer__icon-box {
  position: absolute;
  top: 13px;
  left: 148px;
}

.footer__icon-sprite {
  fill: var(--feature-text-color);
}

