.clients {
	background-color: var(--filter-link-color);
 		 
	 &__list {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-top: 50px;
		
		@include to-mobile {
			flex-wrap: wrap;
		}
		@include mobile {
			flex-wrap: wrap;
		 }
		 @include tablet {
			flex-wrap: wrap;
		 }
		 @include pc {
			display: flex;
			justify-content: center;
		 }
	 }
	 &__item {
		display: flex;
		justify-content: center;
		align-items: center;
	 
		width: 170px;
		height: 92px;
		border: 1px solid var(--social-network-basic-link);
		border-radius: 4px;
		fill: var(--social-network-basic-link);
	 
		transition-property: background-color, border, fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		@include mobile{
			width: 170px;
		  }
		 @include tablet{
			width: 226px;
		  }
		 @include pc{
			width: 170px;
		  }
		 }
	 
	 
	 &__item:hover,
	 &__item:focus {
		fill: var(--logo-text-color);
		border: 1px solid var(--logo-text-color);
	 }
	 
	 &__title {
		 color: var(--h3-text-color);
		 font-weight: 700;
		 font-size: 28px;
		 line-height: 1.14;
		 letter-spacing: 0.03em;
		 padding: 0;

		 @include mobile{
			font-size: 28px;
		 }
		 @include tablet{
			font-size: 28px;
		 }
		 @include pc{
			font-size: 36px;
			line-height: 1.67;
			letter-spacing: 0.03em;
	  }
}
}