.header {
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
position: fixed;
  display: flex;
  top: 0;
  left: 0;

  @include mobile {
	position: relative;
	display: flex;
	justify-content: center;
}

  @include tablet {
	position: fixed;
	display: flex;
	height: 88px;
	margin: 0 auto;
	justify-content: center;
 }

 @include pc {
	position: fixed;
	height: 80px;
	justify-content: center;

}

  // @media screen and (max-width: 480px){
  // 	position: relative;
  // 	width: 100%;
  // 	padding: 0 15px;
  // 	margin-left: auto;
  // 	margin-right: auto;
  // }

  &__menu {
    //
    // display: flex;
    // align-content: center;
    // justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 40px;
    //  transform: translateX(50%);
  }

  &__container {
	
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
	 width: 100%;

    /* @include to-mobile{
		padding: 5px 15px;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
	  } */
    @include mobile {
		max-width: 480px;
    }

    @include tablet {
	
		max-width: 768px;
    }

    @include pc {
		max-width: 1200px;
		display: flex;
		justify-content: flex-start;
    }
  }
}

/* @media screen and (max-width: 480px){
	.button.is-open .nav__button-cross{
		display: block;
	}
	.button.is-open .nav__button-menu{
		display: none;
	}
} */

.nav {
  display: none;

  /* 	@media screen and (min-width: 480px){
		position: relative;
		display: flex;
		justify-content: flex-start;
		margin-right: auto;
		align-items: center;
		} */
  @include mobile {
    display: none;
    margin-top: 0px;
    position: relative;
  }

  @include tablet {
    display: block;
	 
    margin-top: 0px;
    position: relative;
  }

  @include pc {
  }

  &__container {
    display: none;
    position: absolute;

    width: 100%;
    top: 48px;
    left: 0;
    height: 796px;
  
	  &.is-open {
      display: block;
    }
  }

  &__button {
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    border: none;
    align-items: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
  }

  /* @media screen and (max-width:480px){
			display: block;	
			padding-right: 15px;
			padding-left: 0;
			background-color: transparent;
			border: none;
			} */
  /* 		&-cross{
			display: none;
		}
		&-menu{
			display: none;
		} */

  /* 		@media screen and (max-width: 480px){
			&-menu{
				display: block;
			}
			&-cross{
				display: none;
			}
			.button.is-open .nav__button-cross{
				display: block;
			}
			.button.is-open .nav__button-menu{
				display: none;
			}
	} */
 	&__item{ position: relative;

		@include mobile{
			
		  }
	  
		  @include tablet{
			margin-left: 30px;
		  }
	  
		@include pc{
			margin-right: 30px;
		}

	}

	&__item:first-child{

		@include tablet{

			margin-left: 0;
		  }
		@include pc{
			margin-right: 30px;
		}

	} 
	
  &__link {
    /* position: relative;
		display: block;
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2; */
    color: var(--h3-text-color);
    list-style-type: none;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link_current::after {
    content: '';
	 top: 51px;
	 position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--buttonactive);
    margin-bottom: 0;
    padding-bottom: 0;

	 @include pc {
		top: 47px;
	 }

    /* 		@media screen and (max-width:480px){
			display: none;
	 } */
  }
  &__link-current {
    color: var(--logo-text-color);
  }

  &__link:hover,
  &__link:focus {
    color: var(--logo-text-color);
    cursor: pointer;

    /* 		@media screen and (max-width:480px){
			// display: none;
			color: var(--logo-text-color);
			
		} */
  }

  &__menu {
    /* display: flex;
	justify-content: flex-start;
	margin-left: 93px;
	padding-left: 0;
	gap:53px;
	padding-right: 0; */
    font-weight: 500;
    line-height: 1.2;
    color: var(--h3-text-color);
    list-style-type: none;
    text-decoration: none;

	 @include tablet {
		display: flex;
		margin-top: 0px;
		position: relative;
		padding-left: 0px;
	 }
  
	 @include pc {
		display: flex;
		justify-content: flex-start;
	 }
    /* 	@media screen and (max-width:480px){
	display: block;
		text-align: left;
		font-family: 'Roboto';
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
	} 
	}*/
  }

  /* 	&__container{
		display: none;
		position: absolute;
		width: 100%;
		top: 48px;
		left: 0;
		height: 796px;
		background-color: aquamarine;
		&.is-open{
			display: block;
		}
	}
 */
  &__button {
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
    display: flex;
    background-color: transparent;

    /* @media screen and (max-width:480px){
			display: block;	
			padding-right: 15px;
			padding-left: 0;
			background-color: transparent;
			border: none;
			} */
    /* 		&-cross{
			display: none;
		}
		&-menu{
			display: none;
		} */

    /* 		@media screen and (max-width: 480px){
			&-menu{
				display: block;
			}
			&-cross{
				display: none;
			}
			.button.is-open .nav__button-cross{
				display: block;
			}
			.button.is-open .nav__button-menu{
				display: none;
			}
	} */
  }

  &-item {
    margin-bottom: 32px;
  }
  /* 
	&-item:first-child{
		margin-top: 48px;
			} */

  &-link {
    /* position: relative;
		display: block;
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2; */
    color: var(--h3-text-color);
    list-style-type: none;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* 		@media screen and (max-width: 480px){
		font-size: 40px;
		font-weight: 500;
		line-height: 1.17;
		color: var(--h3-text-color);
		} */
  }

  &-link-current::after {
    /* 		content: '';
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--buttonactive);
		margin-bottom: 0;
		padding-bottom: 0; */

    color: var(--logo-text-color);
  }

  &-link:hover,
  &-link:focus {
    // display: none;
    color: var(--logo-text-color);
  }

  &-menu {
    @extend %list;
    display: block;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
.contacts {
  display: none;
  /* display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 0px;
	padding-left: 0px; */
  align-items: baseline;
  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;
  list-style-type: none;
  color: var(--basic-text-color);

  @include mobile {
    display: none;
  }

  @include tablet {
    display: block;
    margin-top: 0px;
    position: relative;
  }

  @include pc {
	display: flex;
	justify-content: flex-end;
    margin-left: auto;
    position: relative;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--basic-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
	
	@include tablet {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 10px;

	 }
  
	 @include pc {
	 }
	}

	
  &__link:hover,
  &__link:focus {
    color: var(--logo-text-color);
    fill: var(--logo-text-color);
  }
  &__icon {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    fill: currentColor;
    top: 0.1em;
  }

  &__item + &__item {
		margin-right: 50px;

		@include pc{
			margin-right: 0px;
		}
	 } 

  &__item {
    margin-top: 0px;
	 position: relative;
    /* 		@media screen and (max-width:480px){
			// display: none;
			margin-left: 0px;
			margin-top: 10px;
			padding-top: 32px;
			padding-bottom: 0px;
			 } */
  }

  &__item:last-child {

	@include tablet {
		margin-bottom: 0px;
		position: relative;
	}

	 @include pc{
		margin-left: 30px;
	}

 &__item:first-child{

		@include tablet{

			margin-left: 0;
		  }
		@include pc{
			margin-right: 0px;
		}

	} 
}
}

.contacts-toggle {
  display: block;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.02em;
  // margin-top: 306px;

  /* 	@media screen and (max-width:480px){
		 display: block;
		 
				 }
 */

  &__link {
    display: block;
	 font-size: 12px;
    text-decoration: none;
    color: var(--logo-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	 @include mobile{
		font-size: 12px;
	  }

	 @include tablet{
		font-size: 12px;
		margin-left: 0;
	  }
	@include pc{
		font-size: 14px;
		margin-right: 0px;
	}

  }
  &__link:hover,
  &__link:focus {
    color: var(--logo-text-color);

    /* 		 @media screen and (max-width: 480px){
			&__link:hover,
			&__link:focus {
			color: var(--logo-text-color);
		}
	 } */
  }

  &__link-mail {
    display: block;
    text-decoration: none;
    color: var(--basic-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* 		
		@media screen and (max-width:480px){
			display: block;
			} */
  }
  /*  		 &__link-mail:hover,
		 &__link-mail:focus 
		 color: var(--logo-text-color); */

  /* 		 @media screen and (max-width: 480px){
			&__link-mail:hover,
			&__link-mail:focus {
			color: var(--logo-text-color);
		}
	 } */
  &__item {
    margin-top: 0px;

    /* 		 @media screen and (max-width:480px){
			 display: block;
			 margin-left: 0px;
			 margin-top: 0px;
			 padding-top: 32px;
			 padding-bottom: 0px;
			  } */
  }

  &__item:first-child {
    margin-top: 0px;

    /* 	 @media screen and (max-width:480px){
		 padding-top: 0px;
		  }
 		 } */
  }

  .toggle-social {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;

    &__button {
      color: #2196f3;
      letter-spacing: 0.02em;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.222;
      text-decoration: none;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
      margin-right: 10px;
    }
  }
}
