.swiper{
      min-width: 300px;
      //height: 100%;

		@include mobile {
			max-width: 480px;
		 }
	
		 @include tablet {
		
			max-width: 768px;
		 }
	
		 @include pc {
			max-width: 1100px;
			display: flex;
			justify-content: flex-start;
		 }
    }
    .swiper-slide{
      text-align: center;
      font-size: 18px;
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
		flex-direction: column ;
    }

    .swiper-slide img{
      max-width: 320px;
      object-fit: cover;

    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
		bottom: 250px;
      right: 140px; 
      left: auto;


		@include to-mobile {

		   right: 2px;
		
		 }

		 @include mobile {

		   right: 20px;
		 }

		 @include tablet {
			right: 10px;
		 	
		 }

		 @include pc {
			right: 20px;
			}
	  
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
      left: 140px; 
		bottom: 250px;
      right: auto;
		position: absolute;

		@include to-mobile {
						left: 2px;

		 }

		 @include mobile {

		   left: 20px;
		 }

		 @include tablet {
			left: 10px;
		 	
		 }

		 @include pc {
			left: 20px;
			}

    }

	 .swiper-slider{
		position: relative;
	 }
	 .swiper__tool {
		width: 370px;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		//border: 1px solid #000000;
		padding-top: 15px;


	 }
