:root {
	--basic-text-color: #757575;
	--h3-text-color: #212121;
	--logo-text-color: #2196f3;
	--filter-link-color: #fff;
	--footer-bkg-color: #2f303a;
	--black-text-color: #000000;
	--transparent-menu-text: rgba(255, 255, 255, 0.6);
	--team-bkg: #f5f4fa;
	--filter-border-color: #eeeeee;
	--button-transparent: rgba(0, 0, 0, 0.15);
	--buttonactive: #188ce8;
	--header-bottom-border: #ececec;
	--social-network-basic-link: #afb1b8;
	--fotter-social-network-basic-link: rgba(255, 255, 255, 0.1);
	--clients-bkg: #f5f5f5;
	--feature-text-color: #fff;
	--feature-bkg-color: rgba(33, 150, 243, 0.9);
	--modal-backdrop-bkg: rgba(0, 0, 0, 0.2);
	--modal-button-closed: rgba(0, 0, 0, 0.1);
	--we-do-title-bkg: rgba(47, 48, 58, 0.8);;
 }